{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "next/core-web-vitals",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint", "react-hooks", "prettier"]
}
